# Ignora arquivos compilados
*.pyc
__pycache__/

# Ignora arquivos de ambiente virtual
.venv/
env/
venv/

# Ignora arquivos de ambiente virtual de subpastas
**/venv/
**/.venv/
**/env/
**/.env/

# Ignora configuracoes de IDEs
.vscode/
.idea/

# Ignora arquivos temporarios
*.log
*.tmp
.DS_Store

#ignora arquivos csv e xls
*.csv
*.xlsx

#Ignora o arquivo .env
.env

#Ignora os arqiuvos de teste
teste*

